body, html {
    margin:0;
    padding:0;
    height: 100%;
    overflow: hidden;
    background-color:paleturquoise;
    display:block;
}

h1 {
    font-family: "Chewy", cursive;
    font-size: 10em;
    color: #535353;
    letter-spacing: 0.1em;
    margin: 0;
}

h2 {
    font-family: "Quicksand", sans-serif;
    font-size: 1.5em;
    color: #535353;
    letter-spacing: 1px;
    margin-bottom: 30px;
    margin-top: 0;
}

.text {
    width: 70%;
    margin: auto;
    text-align: center;  
}

.text a {
    background-color: palevioletred;
    padding: 10px;
    border-radius: 20px;
    font-family: "Quicksand", sans-serif;
    font-size: 1 em;
    font-weight: bold;
    color: white;
    text-decoration: none;
    margin-top: 70%;
}


@keyframes pulse {
    from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
    50% {
      -webkit-transform: scale3d(1.05, 1.05, 1.05);
      transform: scale3d(1.05, 1.05, 1.05);
    }
  
    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }

.text a:hover {
    animation-name: pulse;
    animation-duration: 4s;
}

.dog {
    width: 70%;
    margin: auto;
    margin-top: 50px;
    text-align: center;
}

.dog img {
    height: 200px;
}

footer {
    font-family: "Quicksand", sans-serif;
    font-size: 12px;
    position: absolute;
    height: 60px;
    width: 70%;
    margin: auto; 
    text-align: center;
}

footer a {
    text-decoration: none;
    color:#2f2f2f;
}